<h1>All the recipes</h1>
<h2><% Recipe.all.each do |recipes| %>
    Name: <%= recipes.name%><br>
    Ingredients: <%= recipes.ingredients%><br>
    Cook Time: <%= recipes.cook_time%><br>
    <a href="/recipes/<%=recipes.id%>"><%=recipes.name%> recipe</a><br>
    <br>
    <% end%>
</h2>
